@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/roboto');

body {
  margin: 0;
  padding: 0;
  background-color: #D6D7DA;
  position: absolute;
  left: calc(50% - 45vw);
  top: calc(50% - 45vh)
}

#container {
  width: 90vw;
  height: 90vh;
  background-color: #F6F6F8;
  border-radius: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main {
  background-color: #FFFDFE;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 17%;
}

sup {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

#temp {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 3vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

#date {
  margin-top: 7vh;
}

#day, #hour {
  font-family: 'Roboto', monospace;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}

#separator {
  width: 10rem;
  height: 2px;
  background-color: #D6D7DA;
  margin-top: 1vh;
}

#status {
  font-family: 'Roboto', monospace;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top:3vh;
  letter-spacing: 1.5px;
}

#rainPercent {
  font-family: 'Roboto', monospace;
  font-size: 1rem;
  margin-top: 1vh;
  letter-spacing: 1px;
}

#location {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -5vh;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1vw;
  background-image: url(./img/wallart.jpg);
  width: 12vw;
  justify-content: center;
  align-items: center;
}

#city, #country {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
  height: 100%;
}

#btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  background-color: rgb(116, 116, 234);
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all ease-in-out 0.5s;
}

#btn:hover {
  transform: scale(125%);
}

#forecast {
  width: 83%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.days {
  width: 9vw;
  height: 20vh;
  background-color: #FFFDFE;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 2vw;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.days:last-of-type {
  margin-right: 0;
}

#highlight {
  height: 70%;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sec1, #sec2 {
  display: flex;
  flex-direction: row;
}

#sec1 {
  margin-bottom: 5vh;
}

.highlights {
  width: 17vw;
  height: 25vh;
  margin: 0;
  background-color: #FFFDFE;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 2.5vw;
  border-radius: 20px;
}

.endLine {
  margin-right: 0!important;
}

.days h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.days div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto',monospace;
}

.days span {
  margin-left: 5px;
  margin-right: 5px;
}